h1, h2 {
  font-family: monospace;
}

h1 {
  font-size: 48px;
  margin: 20px 0 0 0;
}

h2 {
  font-size: 36px;
}

p, ol, ul, label, a {
  font-size: 18px;
  font-family: sans-serif;
}

.title-block {
  margin: 48px 48px 96px 48px;
}

body {
  margin: 0 0 0 0;
}

.figure-space {
  margin: 5px 0 50px 0;
  background: #333333;
  width: 100%;
}

.figure {
  display: block;
  margin: 48px auto 48px auto;
}

.section {
  margin: 0 48px 0 48px;
}

.footer {
  margin: 96px 48px 48px 48px;
}
  